# Runtime
https://github.com/KittenML/KittenTTS/releases/download/0.8.1/kittentts-0.8.1-py3-none-any.whl
espeakng-loader
phonemizer
huggingface_hub
numpy
onnxruntime
sounddevice
soundfile
pyyaml
rich
loguru

# Dev / Testing
pytest
pytest-benchmark
pre-commit
build
